html{
  background: #F7D02C;
}
h1{
  color:white;
  text-align: center;

}
button{
margin-left: 40%;
margin-right: 40%;
padding-top: 1%;
padding-bottom: 1%;
font-family:monospace;




}
.flex{
display:flex;
align-content: center;
justify-content: center;
flex-direction: column;
padding-top: 20%;
}
